@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}